@media screen and (max-width: 800px) {
  .calc .container {
    grid-template-columns: 100%;
  }
  .calc__content {
    margin-left: 0px;
  }
  .container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 500px) {
  * {
    font-size: 12px;
  }
  .calc {
    margin-top: 15px;
  }
  .calc__input__label {
    font-size: 12px;
    padding: 14px 0;
    min-width: 90px;
  }
  .calc__content {
    padding: 15px;
  }
  .calc__title {
    font-size: 18px;
  }
  .calc__form {
    margin-top: 15px;
  }
  .calc__form .btn {
    margin-top: 0;
  }
}
